{% extends 'dapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Details {% endblock %}
</head>
<body>
    {% block header %}
<h1>Student Details</h1>
    {% endblock %}
    {% block main %}
<b>First Name :</b> {{ student.fname }}
<b>Last Name :</b> {{ student.lname }}
<b>Age :</b> {{ student.age }}
<b>Track :</b> {{ student.student_track }}
{% endblock %}
</body>
</html>